<!DOCTYPE html>
<html>
<head>
	<title>Add Event</title>
	{% load staticfiles %}
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	{{ form.media }}
	<link rel='stylesheet' href="{% static 'main.css' %}">
	<script type="text/javascript" src="{% static 'Javascript/main.js' %}"></script>
</head>


<body onload="adaptToSize()">
	<nav id="menu">
		<ul>
			<a href="{% url 'index' %}"><li class="logo">
				<span>W</span>
			</li></a>
			<a href="{% url 'listOfEvents' %}"><li>
				<span class="tab">Events</span>
				<img src="{% static 'Images/calendar.png' %}" class="icon">
			</li></a>
			<a href="discover.html"><li>
				<span class="tab">Discover</span>
				<img src="{% static 'Images/discover.png' %}" class="icon">
			</li></a>
			<a href="{% url 'addNewEvent' %}"><li>
				<span class="tab">Add</span>
				<img src="{% static 'Images/add-active.png' %}" class="icon">
			</li></a>
			<a href="{% url 'settings' %}"><li>
				<span class="tab">Settings</span>
				<img src="{% static 'Images/settings.png' %}" class="icon">
			</li></a>
		</ul>
	</nav>
	<div id="clear-header"><p>Add Event</p></div>

	<div class="container">
		{% block content %}
		    <form method="POST" class="addEvent">
		    	{% csrf_token %}
		        {{ form.as_p }}
		        <button type="submit">Add Event</button>
		    </form>
		{% endblock %}
	</div>

</body>
</html>